<% if current_user %>
	<p id="notice"><%= notice %></p>

	<p>
	  <b>Name:</b>
	  <%= @feature.name %>
	</p>

	<%= link_to 'Edit', edit_feature_path(@feature) %> |
	<%= link_to 'Back', features_path %>
<% else %>
  <h3> You must be logged in to proceed. <h3>
<% end %>